.box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 3vmin;
}
.loadingIcon {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorMessage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  text-align: center;
}
